<form role="form">
  <div class="form-group">
    <label for="newPostTitle">Title</label>
    <input type="text" class="form-control" id="newPostTitle" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="newPostContent">Content</label>
    <textarea class="form-control" id="newPostContent" placeholder="Content" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-default">Add</button>
</form>
