<div class="panel panel-default">
  <h2 class="panel-heading">{{title}}</h2>
  {{#if display}}
   <p class="panel-body">{{content}}</p>
  {{/if}}
  <button type="button" id="destroy-btn" class="btn btn-danger">Delete Me!</button>
</div>
